.baseContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
}

.appLogo {
  color: #dbc1c0;
  font-size: 86px;
  user-select: none;
}
