.taskCheckboxContainer {
  padding-left: 16px;
  user-select: none;
}

.taskCheckboxContainer input {
  display: none;
}

.taskCheckboxLabel {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* background-image: none; */
  border: 1px solid #b8b8b8;
}

.taskCheckboxContainer input:checked + .taskCheckboxLabel {
  border: 1px solid #10ac84;
  background-image: url(/check.svg);
}
